import Config
# Copy this config and name it dev.exs

config :doit,
  # Get your GitHub token here: https://github.com/settings/tokens
  github_token: "86a372d2012ee369e34e997639cec6eed77cb1a1",
  # Get Todoist API token here: https://todoist.com/prefs/integrations
  todoist_token: "7ba55cca93bc2ef867725eb5fb2933747bf26be7",
  # Go to your project in a web browser, it will be the final digits in the url
  default_project: "2243747250"
