import Config
# Copy this config and name it dev.secret.exs

config :doit,
  # Get your GitHub token here: https://github.com/settings/tokens
  # Doit only needs access to your notifications
  github_token: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  # Get Todoist API token here: https://todoist.com/prefs/integrations
  todoist_token: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  # Obtain the project number by reading the final digits in the URL
  # i.e. for https://todoist.com/app/project/12345678 it would be 12345678
  default_project: "12345678",
  # tags separated by spaces, this field is optional
  default_tags: "@computer"
