import Config
# Copy this config and name it dev.exs

config :doit,
  # Get your GitHub token here: https://github.com/settings/tokens
  github_token: "xxxxxxxxxxxxxxxxxxxxxx",
  # Get Todoist API token here: https://todoist.com/prefs/integrations
  todoist_token: "xxxxxxxxxxxxxxxxxxxxxx",
  # Go to your Todoist project in a web browser, it will be the final digits in the url after the %2F
  default_project: "999999999"
