import Config
# Copy this config and name it dev.secret.exs

config :doit,
  # Get your GitHub token here: https://github.com/settings/tokens
  github_token: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  # Get Todoist API token here: https://todoist.com/prefs/integrations
  todoist_token: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  # Go to your project in a web browser, it will be the final digits in the url
  default_project: "12345678",
  # tags separated by spaces, this field is optional
  default_tags: "@computer"
